Incorrect Parameter-Encoding in Authorization-String

Hi, 

according to my understanding of the OAuth1.0a standard this implementation seems to have issues with the parameter encoding.

Let's have a look at [1] or even at [2] which is referenced in the JavaDoc of the implementation.
In [1] in 5.4.1 Authorization Header we find the following instruction:
> Parameter names and values are encoded per Parameter Encoding. 

Parameter Encoding is defined in 5.1 as: 
> All parameter names and values are escaped using the [RFC3986] percent-encoding (%xx) mechanism. Characters not in the unreserved character set ([RFC3986] section 2.3) MUST be encoded. Characters in the unreserved character set MUST NOT be encoded. Hexadecimal characters in encodings MUST be upper case. Text names and values MUST be encoded as UTF-8 octets before percent-encoding them per [RFC3629]. 
> unreserved = ALPHA, DIGIT, '-', '.', '_', '~'

This is also confirmed by the referenced RFC [2] in 3.5.1 and 3.6.

Now, in the implementation, in method 
`public static String getAuthorizationHeader(URI uri, String method, String payload, Charset charset, String consumerKey, PrivateKey signingKey) `
 we can see that no parameter is percent-encoded except the created oauth_signature. For most of the parameters, this is not a problem as the unencoded form equals the encoded form. However, for base64-encoded parameters, e.g. the oauth_body_hash, this can be a problem in many cases since the characters "+","/" and "=" have to be percent-encoded. And this is not the case in this implementation.

What do you think? Am I right or did I miss some important point ? 
Thanks a lot!

[1] https://oauth.net/core/1.0a/
[2] https://tools.ietf.org/html/rfc5849#section-3.5.1
 

Hi @moritz1895,

Thanks for having opened this issue!

This library was designed to be used with Mastercard APIs available in the [Mastercard Developer Portal](https://developer.mastercard.com/) (see also: [Using OAuth 1.0a to Access Mastercard APIs](https://developer.mastercard.com/platform/documentation/security-and-authentication/using-oauth-1a-to-access-mastercard-apis/)).

If you experience any issue in this context; please provide some more details so that we can reproduce and fix the problem.

To answer your question, yes, there are a few differences between this implementation and the specification, for instance the usage of `RSA-SHA256` or of a [body hash](https://tools.ietf.org/id/draft-eaton-oauth-bodyhash-00.html).

Hi, 
you are right. I personally do not depend on a fix to this issue. We just implemented the OAuth standard to get authorized at MDES. This is done independently of your demo implementation and based on the original OAuth1.0a + the documented Extensions. However it seems that your server-side both accepts correctly generated data according to OAuth1.0a+Extensions and also according to your individual adaption of the standard. It would have been a problem if the servers were to reject our requests. But thats not the case. They seem to rely on a different implementation logic.

So, I wouldn't mind if you prefer to reject this issue. 
I only wanted to give a hint that this implementation is not base on OAuth1.0a+Extensions although it should be the case according to your documentation. See your own reference to https://tools.ietf.org/html/rfc5849 in your JavaDoc. Even the Mastercard Developers documentation on the website you provided states that the protocol is indeed OAuth1.0a extended by an alternative signature scheme and the Google Body Hash Extension. There is no hint for further extensions or modifications. Thats why I do not fully agree with your reasoning that the alternative parameter encoding is comparable to the usage of the Google Body Hash extension. Its a documented extension which has been proposed to the IETF. On the other hand the alternative parameter encoding is a undocumented modification without any further reasoning.

I think it would be helpful to other Mastercard customers if it would explicitly be stated that the protocol relies on a standard which looks almost like OAuth1.0a+Extensions, but is indeed a proprietary standard or otherwise this issue is considered a problem with the implementation.

Thank you!

Hi @moritz1895,

A different encoding and the usage of extensions aren't at the same level. I simply wanted to highlight there are differences, and this is something we are aware of.

What is important for us is client applications can consume Mastercard APIs regardless of if they use this lib or their own implementation.

There is no reason for us to reject this issue you opened as we have it in our backlog already. It was simply assigned a lower priority since it's not a blocker and can be fixed transparently by publishing a new version of this library (and of course because it doesn't introduce vulnerabilities).

By the way, this is an open source project. Since you coded your own OAuth stuff, any contribution is welcome :)

Best regards,